@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #b32d2d;  /* Color principal */
  --secondary: #ff914f; /* Color secundari */
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.accordion-body {
  /* Per a la transició d'obrir/tancar, ho pots polir encara més amb Tailwind + animacions personalitzades */
  display: none;
}

.accordion-item.active .accordion-body {
  display: block;
}

.accordion-item.active .accordion-icon {
  transform: rotate(90deg);
}

/* Eliminem punts d'ul a peu de pàgina, etc. en llocs concrets */
.no-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

